<%- partial('_partial/head')%>
<body class="container">
 <div class="img-wrapper">
   <img src="images/avatar.svg" alt="" width="80"/>
   <div class='row text-center'>
     <h1><%= config.author %></h1>
     <p><%= config.subtitle %></p>
   </div>
 </div>
 <div class='container'>
  <%- body %>
 </div>
</body>
</html>
