<%- partial('_partial/head')%>
<body class="container">
 <div class="img-wrapper">
  <div class="head-wrapper">
    <a href="/"><img src="/images/avatar.svg" alt="" width="80"/></a>
    <ul class="social-icon">
      <li><a href="https://www.facebook.com/nolove2571990"><img src="/images/ic-fb.png" title="Contact me via Facebook"/></a></li>
      <li><a href="https://www.linkedin.com/in/huy-nguyen-3b67b0173/"><img src="/images/ic-linkedin.png"   title="Contact me via Linkedin"/></a></li>
      <li><a href="#"><img src="/images/ic-skype.png" title="huy.nguyen25790"/></a></li>
    </ul>
  </div>
   <div class='row text-center'>
     <h1><%= config.author %></h1>
     <p>"One day you'll leave this world behind <br/>
                   So live a life you will remember" - <strong>Avicii</strong></p>
   </div>
 </div>
 <div class='container'>
  <%- body %>
 </div>
</body>
</html>
