<%- partial('_partial/head')%>
<body class="container">
 <div class="img-wrapper">
   <a href="/"><img src="/images/avatar.svg" alt="" width="80"/></a>
   <div class='row text-center'>
     <h1><%= config.author %></h1>
     <p>"One day you'll leave this world behind <br/>
                   So live a life you will remember" - <strong>Avicii</strong></p>
   </div>
 </div>
 <div class='container'>
  <%- body %>
 </div>
</body>
</html>
