color-background = #f8f8f8
color-orange = #ffa500

font-size = 16px
font-nunito = 'Nunito', sans-serif


// Media queries
mq-mobile = "screen and (max-width: 479px)"
mq-tablet = "screen and (min-width: 480px) and (max-width: 767px)"
mq-normal = "screen and (min-width: 768px)"
