@import "_variables"

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

html, body, #container
  height: 100%

body
  background: color-background
  font-size: font-size
  font-family: font-nunito
  -webkit-text-size-adjust: 100%

.img-wrapper
  text-align: center
