.post-detail
  background: #fff
  padding: 10px 15px
  border-radius: 5px
  box-shadow: -1px -5px 5px 0px #ccc
  border-top: 3px solid orange
  .highlight
    background: #000
    color: #fff
    border-radius: 3px
    padding: 0 10px
    .gutter .line
      color: #888
      font-size: 14px

@media mq-normal
  .post-detail
    max-width: 768px
    margin: 10px auto
